<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icelake.modules.sams.student.dao.StudentDAO">
	<resultMap id="student_map" type="com.icelake.modules.sams.student.entity.Student">
		<id column="STUDENT_ID" property="studentId" />
		<result column="STUDENT_NO" property="studentNo" />
		<result column="STUDENT_NAME" property="studentName" />
		<result column="SEX" property="sex" />
		<result column="BIRTH_DATE" property="birthDate" />
		<result column="START_TIME" property="startTime" />
		<result column="FINISH_TIME" property="finishTime" />
		<result column="REMARK" property="remark" />
		<result column="ACTIVE_FLAG" property="activeFlag" />
		<result column="CREATED_BY" property="createdBy" />
		<result column="CREATION_TIME" property="creationTime" />
		<result column="MODIFIED_BY" property="modifiedBy" />
		<result column="MODIFICATION_TIME" property="modificationTime" />
		<result column="EXT1" property="ext1" />
		<result column="EXT2" property="ext2" />
		<result column="EXT3" property="ext3" />
	</resultMap>
	<sql id="base_column_list">
		STUDENT_ID, STUDENT_NO, STUDENT_NAME, SEX, BIRTH_DATE, START_TIME, FINISH_TIME,
		REMARK,ACTIVE_FLAG, CREATED_BY, CREATION_TIME, MODIFIED_BY, MODIFICATION_TIME, 
		EXT1,EXT2,EXT3
	</sql>
	<!-- 查询全部 -->
	<select id="findList" parameterType="com.icelake.modules.sams.student.entity.Student" resultMap="student_map">
		select
		<include refid="base_column_list" />
		from SAMS_STUDENT
		where ACTIVE_FLAG = '1'
		<if test="null!=studentNo and ''!=studentNo">
			and STUDENT_NO=#{studentNo}
		</if>
		<if test="null!=studentName and ''!=studentName">
			and STUDENT_NAME like '%${studentName}%' 
		</if>
	</select>
</mapper>