<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icelake.modules.sys.menu.dao.MenuDAO">
  <resultMap id="BaseResultMap" type="com.icelake.modules.sys.menu.entity.Menu">
    <id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="TARGET" jdbcType="VARCHAR" property="target" />
    <result column="HREF" jdbcType="VARCHAR" property="href" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="SPREAD" jdbcType="CHAR" property="spread" />
    <result column="MENU_ORDER" jdbcType="VARCHAR" property="menuOrder" />
    <result column="SHOW_DEFAULT" jdbcType="VARCHAR" property="showDefault" />
    <result column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ACTIVE_FLAG" jdbcType="VARCHAR" property="activeFlag" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="MODIFIED_BY" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="MODIFICATION_TIME" jdbcType="TIMESTAMP" property="modificationTime" />
    <result column="EXT1" jdbcType="VARCHAR" property="ext1" />
    <result column="EXT2" jdbcType="VARCHAR" property="ext2" />
    <result column="EXT3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <sql id="Base_Column_List">
    MENU_ID, TITLE, TARGET, HREF, ICON, SPREAD, MENU_ORDER, SHOW_DEFAULT, PARENT_MENU_ID, 
    APP_ID, REMARK, ACTIVE_FLAG, CREATED_BY, CREATION_TIME, MODIFIED_BY, MODIFICATION_TIME, 
    EXT1, EXT2, EXT3
  </sql>
	<!-- 查询全部 -->
	<select id="selectByCustomConditions" parameterType="com.icelake.modules.sys.menu.entity.Menu"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from SYS_MENU
		where ACTIVE_FLAG = '1'
		<if test="null!=title and ''!=title">
			and TITLE=#{title}
		</if>
		<if test="null!=parentMenuId and ''!=parentMenuId">
			and PARENT_MENU_ID=#{parentMenuId}
		</if>
		<if test="null!=appId and ''!=appId">
			and APP_ID=#{appId}
		</if>
	</select>  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_MENU
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_MENU
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.icelake.modules.sys.menu.entity.Menu">
    insert into SYS_MENU (MENU_ID, TITLE, TARGET, 
      HREF, ICON, SPREAD, MENU_ORDER, 
      SHOW_DEFAULT, PARENT_MENU_ID, APP_ID, 
      REMARK, ACTIVE_FLAG, CREATED_BY, 
      CREATION_TIME, MODIFIED_BY, MODIFICATION_TIME, 
      EXT1, EXT2, EXT3)
    values (#{menuId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, 
      #{href,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{spread,jdbcType=CHAR}, #{menuOrder,jdbcType=VARCHAR}, 
      #{showDefault,jdbcType=VARCHAR}, #{parentMenuId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{activeFlag,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR}, #{modificationTime,jdbcType=TIMESTAMP}, 
      #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.icelake.modules.sys.menu.entity.Menu">
    insert into SYS_MENU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        MENU_ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="target != null">
        TARGET,
      </if>
      <if test="href != null">
        HREF,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="spread != null">
        SPREAD,
      </if>
      <if test="menuOrder != null">
        MENU_ORDER,
      </if>
      <if test="showDefault != null">
        SHOW_DEFAULT,
      </if>
      <if test="parentMenuId != null">
        PARENT_MENU_ID,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="activeFlag != null">
        ACTIVE_FLAG,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="modifiedBy != null">
        MODIFIED_BY,
      </if>
      <if test="modificationTime != null">
        MODIFICATION_TIME,
      </if>
      <if test="ext1 != null">
        EXT1,
      </if>
      <if test="ext2 != null">
        EXT2,
      </if>
      <if test="ext3 != null">
        EXT3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="spread != null">
        #{spread,jdbcType=CHAR},
      </if>
      <if test="menuOrder != null">
        #{menuOrder,jdbcType=VARCHAR},
      </if>
      <if test="showDefault != null">
        #{showDefault,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuId != null">
        #{parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="activeFlag != null">
        #{activeFlag,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationTime != null">
        #{modificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        #{ext3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icelake.modules.sys.menu.entity.Menu">
    update SYS_MENU
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        TARGET = #{target,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        HREF = #{href,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="spread != null">
        SPREAD = #{spread,jdbcType=CHAR},
      </if>
      <if test="menuOrder != null">
        MENU_ORDER = #{menuOrder,jdbcType=VARCHAR},
      </if>
      <if test="showDefault != null">
        SHOW_DEFAULT = #{showDefault,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuId != null">
        PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="activeFlag != null">
        ACTIVE_FLAG = #{activeFlag,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        MODIFIED_BY = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationTime != null">
        MODIFICATION_TIME = #{modificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        EXT1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        EXT2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        EXT3 = #{ext3,jdbcType=VARCHAR},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icelake.modules.sys.menu.entity.Menu">
    update SYS_MENU
    set TITLE = #{title,jdbcType=VARCHAR},
      TARGET = #{target,jdbcType=VARCHAR},
      HREF = #{href,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      SPREAD = #{spread,jdbcType=CHAR},
      MENU_ORDER = #{menuOrder,jdbcType=VARCHAR},
      SHOW_DEFAULT = #{showDefault,jdbcType=VARCHAR},
      PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR},
      APP_ID = #{appId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ACTIVE_FLAG = #{activeFlag,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      MODIFIED_BY = #{modifiedBy,jdbcType=VARCHAR},
      MODIFICATION_TIME = #{modificationTime,jdbcType=TIMESTAMP},
      EXT1 = #{ext1,jdbcType=VARCHAR},
      EXT2 = #{ext2,jdbcType=VARCHAR},
      EXT3 = #{ext3,jdbcType=VARCHAR}
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>